html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /* background: #5ca4ea; */
  background: rgb(106, 37, 37);
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  text-align: center;
}

.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selections {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
/* #choices {
  text-align: center;
  border-left: 1px solid rgb(9, 10, 9);
} */
#displayResults {
  text-align: center;
  margin: 20px 0;
  /* border: 1px solid red; */
  /* text-decoration: underline; */
  width: 500px;
  display: flex;
  justify-content: space-between;
}
#playerPoint,
#computerPoint {
  font-size: 40px;
  margin: 10px;
}

button {
  /* display: inline; */
  color: white;
  font-size: 20px;
  margin: 1em 0.8em;
  width: 250px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d2dfec;
  outline: none;
  padding: 1em 1.5em;
}
button:hover {
  background-color: #22222286;
  transition: 0.7s;
}

/* media query */

@media screen and (max-device-width: 768px) {
  body {
    min-height: 100vh;
    background: rgb(106, 37, 37);
    font-size: 16px;
    text-align: center;
  }
  button {
    /* display: inline; */
    color: white;
    font-size: 17px;
    margin: 1em 0.8em;
    width: 250px;
    background: transparent;
    border: 1px solid #d2dfec;
    outline: none;
    padding: 1em 1.5em;
  }
  .selections {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #displayResults {
    text-align: center;
    width: 330px;
    display: flex;
    justify-content: space-between;
  }
  #playerPoint,
  #computerPoint {
    font-size: 25px;
    margin: 10px;
  }
}
