html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #5ca4ea;
  color: white;
  font-family: "Space Mono", monospace;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selections {
  display: flex;
  flex-direction: row;
}

button {
  /* display: inline; */
  color: white;
  margin: 10px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d2dfec;
  outline: none;
}

/* media query */

@media screen and (max-device-width: 768px) {
  body {
    min-height: 100vh;
    background: rgb(106, 37, 37);
  }
  .box {
    /* ??? */
  }

  .selections {
    display: flex;
    flex-direction: column;
  }
}
